PORT=3000

# https://www.tumblr.com/oauth/apps
TUMBLR_API_KEY=

# https://dev.twitch.tv/docs/authentication/register-app
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Only needed to embed R-18 artwork.
PIXIV_COOKIE=
DA_COOKIE=
FA_COOKIE_A=
FA_COOKIE_B=